create account
<hr>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum placerat elit. Nam elementum lacinia urna rhoncus sollicitudin. Aliquam ligula elit, tincidunt non quam ut, posuere ullamcorper tortor. Integer sagittis auctor orci, eget tincidunt quam semper quis. Aenean at pretium urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum vel metus quis elit aliquam malesuada. Vestibulum tincidunt eget dui et placerat. Morbi at eros ut justo tincidunt vulputate eget id turpis. Donec vitae risus eros. Duis urna neque, sagittis eget euismod vitae, pellentesque non sem.
</p>
<p>
Mauris bibendum purus vel sapien cursus venenatis vitae sed purus. Curabitur porta dapibus tempor. Ut eleifend condimentum viverra. Donec ultricies justo eget tellus lacinia fermentum. Suspendisse potenti. Duis sollicitudin vitae arcu ut bibendum. Suspendisse eleifend varius purus vitae ornare.
</p>
<p>
Ut rutrum tellus et velit rutrum, nec lobortis augue malesuada. Mauris ac lorem mi. Aliquam vitae velit sed odio convallis semper. Vivamus nec interdum odio. Maecenas a auctor ligula, et rhoncus enim. Nunc pretium, risus ac bibendum sagittis, augue augue semper sem, eu vestibulum purus nulla sit amet elit. Aenean sed odio lacinia, sodales felis sed, varius leo.
</p>
<p>
Maecenas ut lectus auctor, venenatis purus at, volutpat tortor. In at ultricies lacus. Aliquam enim turpis, pulvinar id lobortis vel, imperdiet vel est. Nullam vulputate, leo a lacinia suscipit, nulla orci tincidunt velit, ut auctor nunc est vitae sapien. Morbi et pharetra sem. Curabitur sit amet felis quis nulla dignissim tincidunt id ut velit. Quisque interdum scelerisque pretium. Proin lobortis ornare mi sit amet volutpat. Curabitur eleifend vestibulum auctor. Vestibulum condimentum odio non odio aliquam, vitae mattis sem congue. Suspendisse potenti. Nunc et interdum lorem, non ultricies ex. Sed sodales non mi at feugiat. Vestibulum sollicitudin pulvinar risus, at semper purus efficitur non.
</p>
<p>
Nulla pellentesque odio fermentum rutrum ultricies. Curabitur rutrum nisl in condimentum commodo. Duis vel volutpat est. Praesent ut magna sed magna volutpat luctus. Etiam volutpat enim justo, sit amet tincidunt sapien porta sit amet. Phasellus interdum nibh quis justo condimentum, at sodales risus rhoncus. Nunc maximus nisl imperdiet fringilla feugiat.
</p>

{{yield}}

{{#link-to 'authentication.authenticate'  (query-params action="authenticate") }}
  sign in
{{/link-to}}

{{#link-to 'authentication.password-reset'  (query-params action="password-reset") }}
  password reset
{{/link-to}}
