<h2 id="title">Welcome to Ember.js</h2>

<pre>
  reload at home, modal won't work
  however reload at the 'authentication' controller and modal do work...
</pre>
{{#link-to 'application'}}home{{/link-to}} | {{#link-to 'authentication'}}auth{{/link-to}}


{{outlet}}
{{liquid-modal}}
